*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #23252C;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
/* .App{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */
.container{
  background-color: #1A1B21;
  width: 253.6px;
  height: 624px;
  border-radius: 8px;
}
.container> img{
  border-radius: 8px 8px 0px 0px;
}
.App> img{
  position: absolute;
  left: 10px;
  width: 100px;
}
@media (prefers-reduced-motion: no-preference) {
  .App>img {
    animation: App-logo-spin infinite 5s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
