.main{
    position: relative;
    left: 18px;
    width: 200px; 
    height: 160.8px;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    margin: 7px;
  }
  .main> h3{
    font-size: 16px;
    margin: 3px 0px;
  }
  .main> p{
    font-size: 10.24px;
    margin: 2px 0px;
  }
  